<app-header [completedToDoList]="completedToDoList" [allToDoList]="allToDoList"></app-header>
<main class="todo-list--container">
	<section class="todo-list">
		<h2>ToDo</h2>
		<app-to-do-item (removedToDo)="onRemoveToDo($event)" (stateForm)="onStateForm($event)" (editedToDo)="onEditToDo($event)" *ngFor="let toDo of toDoList | async" [toDo]="toDo"></app-to-do-item>
	</section>
	<section class="todo-list">
		<h2>Doing</h2>
		<app-to-do-item (removedToDo)="onRemoveToDo($event)" (stateForm)="onStateForm($event)" (editedToDo)="onEditToDo($event)" *ngFor="let toDo of doingToDoList | async" [toDo]="toDo"></app-to-do-item>
	</section>
	<section class="todo-list">
		<h2>Complete</h2>
		<app-to-do-item (removedToDo)="onRemoveToDo($event)" (stateForm)="onStateForm($event)" (editedToDo)="onEditToDo($event)" *ngFor="let toDo of completedToDoList | async" [toDo]="toDo"></app-to-do-item>
	</section>
	<app-add-todo (stateForm)="onStateForm($event)"></app-add-todo>
	<app-to-do-form (savedTodo)="onSavedToDo($event)" [toDoList]="allToDoList" [toDo]="toDoForm" [stateForm]="stateForm"></app-to-do-form>
</main>
