<section class="modal" *ngIf="display$ | async as display" [class.open]="display === true">
	<form #TodoForm="ngForm" >
		<label>Escribe el titulo de tu todo</label>
		<input required type="text" name="title" [(ngModel)]="toDo.title">
		<label>Escribe la descripción de tu todo</label>
		<textarea required name="description" [(ngModel)]="toDo.description"></textarea>
		<article class="TodoForm-buttonContainer">
			<button (click)="toggle()" type="button" class="TodoForm-button TodoForm-button-cancel">Cancelar</button>
			<button [disabled]="TodoForm.invalid" (click)="saveToDo()" class="TodoForm-button TodoForm-button-add" type= "submit">{{stateForm === 'edit' ? 'Editar' : 'Crear'}}</button>
		</article>
	</form>
</section>
